.App {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* height: 100vh;
  width: 100vw; */
  padding: 20px;
}

.sidebar{
  width: 20%;
  height: 100%;
}

.itemsList{
  width: 90%;
  height: 100%;
  border: 1px solid #a6a6a6;
  display: flex;
  flex-direction: column;
  padding: 15px;
  

}

.headerBox{
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.containerItem{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerCheckBox{
  display: flex;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerCheckBox input [type="radio"]{
  width: 50%;
  height: 50%;
  color:teal;
}
input[type="radio"]:checked {
  /* box-shadow: 0 0 0 3px orange; */
  color:teal;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid whitesmoke;
}

.card img{
  width: 25%;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}